
* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgb(43, 48, 59);
    color: white;
    border-radius: 25px;
    
}

tooltip {
  background: rgba(43, 48, 59, 1);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    background: transparent;
    color: white;
    border-radius: 25px;
    margin: 10px;
    margin-right: 5px;
}


#workspaces button.active {
    background: rgb(228, 111, 146);
    transition: all 0.1s ease-in-out;
}
#workspaces button.active:hover {
    background: rgb(141, 68, 90);
}
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none; 
    background: rgb(25, 28, 34);
    transition: all 0.1s ease-in-out; 
}
#mode, #clock, #battery {
    padding: 0 20px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
    border-radius: 25px;
    margin: 10px
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-expand {
   padding: 20px;
}

#custom-ss {
    margin: 10px 5px;
    padding: 10px;
    background-color: #64727D;
    border-radius: 25px;
}

#tray {
    margin: 10px 5px;
    padding: 10px;
    background-color: #64727D;
    border-radius: 25px;
}

